#customers td, #customers th {
  border: 1px solid #ddd;
  padding: 8px;
}

#customers {
    background-color: #ecf2f5;
    /* width: 50%; */
}

#customers tr:hover {background-color: #ddd;}

#customers th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: #cfd6ff;
  color: rgb(0, 0, 0);
  width: 1%;
}