.uspageIdentify {
    display: flex;
    max-width: 100%;
    padding: 20px;
    top: 0px;
    color: rgb(255, 255, 255);
    font-weight: bold;
    font-size: 30px;
    /* justify-content: center; */
    z-index: 999;
}

.connectWallet {
    display: flex;
    align-items: center;
    justify-content: center;
}

.cardContainer {
    padding-left: 25px;
    padding-right: 25px;
}

.customCard {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline-start: 100px;
    padding-inline-end: 100px;
}

.selectCard {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 360px;
    height: 220px;
    background-color: rgb(46, 44, 44);
    border-radius: 25px;
    border: 3px solid rgb(37, 36, 36);
}

.userCardText {
    font-size: 40px;
    font-weight: 500;
    color: rgb(223, 89, 96);
}

.selectCard:hover {
    cursor: pointer;
    background-color: rgb(57, 53, 53);
}

.cardsSub {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 50px;
    font-size: 15px;
    font-weight: 400;
    color: rgb(179, 179, 179);
    text-align: center;
}

.bcardsSub {
    display: flex;
    justify-content: center;
    align-items: center;
    /* padding: 30px 50px; */
    font-size: 15px;
    font-weight: 400;
    color: rgb(179, 179, 179);
    text-align: center;
}

.usmainHeader {
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(44, 185, 126);
    font-weight: bold;
    font-size: 50px;
}

.line {
    border-top: 1px solid rgb(230, 229, 229);
    margin-bottom: 0px;
}

.line2 {
    border-left: 2px solid rgb(255, 255, 255);
    padding-left: 50px;
    height: 600px;
}

.userContent {
    display: flex;
    justify-content: start;
    height: 100%;
}

.userContentPage {
    display: flex;
    text-align: center;
    justify-content: center;
    width: 50%;
    border-radius: 10px;
    background-color: rgb(252, 253, 255);
    border-radius: 25px;
    border: 3px solid rgb(210, 210, 210);
}
